@import 'variables';

@import url(https://fonts.googleapis.com/css?family=Yesteryear);

html,body{
	//background-image: linear-gradient(to bottom,#dddbd1,#d2dbdc);
	background-color: #d2dbdc;
	height : 100%;
	width  : 100%;
}

